

p{
    top: 15px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 15px;
    background: #d44e4e;
    columns: red;
    border-radius: 19px;
    width: 26px;
    height: 26px;
    justify-content: center;
    cursor: pointer;
    color:white;
    box-shadow: 0 0 4px purple;
    z-index: 1;
}
p:hover{
    cursor: pointer;
    transform: scale(1.05);
}