
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
   

</head>
<body >

    
    <app-cross-button></app-cross-button>
   
    <form #form="ngForm" (ngSubmit)="onFormSubmit()" class="container row " style="max-height: 90%;height: auto;margin: auto;">

        
       
        <b>Create a new password</b>

       
               

               <label for="password">Password<span style="color: red;">*</span></label>

               <div class="d-flex justify-content-evenly">
       
                 <input [type]="passwordInputType"
                class="form-control "
                    placeholder="Password"
                    id="password"
                    name="password"
                    [(ngModel)]="model.password"
                    required
                    [ngClass]="{
                       
                       'valid': !minlengthError && !uppercaseError && !lowercaseError && !digitError && !specialCharError ,
                       'invalid': (minlengthError || uppercaseError || lowercaseError || digitError || specialCharError)
                     }"
                    (ngModelChange)="validatePassword()"
                    (focus)="showPasswordStrength=true"
                    (blur)="showPasswordStrength=false"
                    
                    >
       
                    <div>
       
                     <img
                     *ngIf="passwordInputType === 'password'; else temp"
                     style="position: absolute;
                     transform: translateY(100%);
                     cursor: pointer;
                     right: 47px;"
                     
                     (click)="togglePasswordVisibility()" width="20" height="20" src="https://img.icons8.com/ios-glyphs/20/visible--v1.png" alt="visible--v1"/>
         
                     <ng-template #temp>
                         <img style="position: absolute;
                             transform: translateY(100%);
                             cursor: pointer;
                             right: 47px;"
                             (click)="togglePasswordVisibility()" 
                             width="20" 
                             height="20"  
                             src="https://img.icons8.com/windows/20/invisible.png" 
                             alt="invisible"/>
                     </ng-template>
                    </div>
                   
               </div>
               
       
                    
       
               <app-password-strength
              
                *ngIf="showPasswordStrength"
                [passwordToCheck]="model.password" 
                (passwordStrength)="onPasswordStrengthChanged($event)"
                >
               </app-password-strength>
       
       
                    <div *ngIf="form.controls['password']!.invalid && (form.controls['password']!.dirty || form.controls['password']!.touched)">
                       <div  class="field-err " *ngIf="form.controls['password']!.errors?.required">*Password is required.</div>
                       <!-- errbox -->
                     </div>
                     <!-- [ngClass]="{errbox: (minlengthError || uppercaseError || lowercaseError || digitError || specialCharError)}" -->
                     <div *ngIf="showPasswordStrength" >
                       <div class="field-err" *ngIf="minlengthError">*Password must be at least 8 characters long.</div>
                       <div class="field-err" *ngIf="uppercaseError">*Password must contain at least one uppercase letter.</div>
                       <div class="field-err" *ngIf="lowercaseError">*Password must contain at least one lowercase letter.</div>
                       <div class="field-err" *ngIf="digitError">*Password must contain at least one digit.</div>
                       <div class="field-err" *ngIf="specialCharError">*Password must contain at least one special character (#?!@$%^&*-).</div>
                     </div>
                     
       
             

      

        <label for="confirmPassword">Confirm Password<span style="color: red;">*</span></label>

        <div class="d-flex justify-content-evenly" >

          <input
          [type]="confPass"
          class="form-control" 
          placeholder="Re-enter Password" id="confirmpassword" name="confirmPassword" 
          required  
          (input)="onConfirmPasswordInput()"
          [(ngModel)]="model.confirmPassword"
          [ngClass]="{
                 
             'valid': fieldValidation['confirmPassword'] ,
             'invalid': !fieldValidation['confirmPassword']
           }"
          
           
          >

          <div >

            <img
            *ngIf="confPass==='password'; else temp1"
            style="position: absolute;
            transform: translateY(100%);
            cursor: pointer;
            right: 47px;"
            (click)="toggleConfPasswordVisibility()" width="20" height="20" src="https://img.icons8.com/ios-glyphs/20/visible--v1.png" alt="visible--v1"/>

            <ng-template #temp1 >
              
                <img style="position: absolute;
                    transform: translateY(100%);
                    cursor: pointer;
                    right: 47px;"
                    (click)="toggleConfPasswordVisibility()" 
                    width="20" 
                    height="20"  
                    src="https://img.icons8.com/windows/20/invisible.png" 
                    alt="invisible"/>
            </ng-template>
          </div>
          

        </div>
       
         <div class="field-err" *ngIf="!fieldValidation['confirmPassword']">Passwords do not match.</div>


         

         <div class="d-flex justify-content-center ">
            <button style="width: 47%;
            font-size: 15px;
            color: white;
            box-shadow: 0 1px 2px black;" type="submit" >Change Password</button>
            
        </div>
         
        <div class="social d-flex justify-content-center">
          <div style="width: auto !important;margin-bottom: -49px;" 
            class="go">
            <i class="fab "></i>Remember password? 
            <p [routerLink]="['/login']" 
              style="cursor: pointer;">
                Login
              </p>
            </div>
          
        </div>
       
    </form>

    
</body>





 
