<p>
    sdhvskhvjksnvjksnjvkhdsjknvjkscjkvn kjscxnvjk bsc kbvb sfbv kscbv kcb kc kcb ckbmvkcsjbv jdsb cjds vjdsbcdcdc
    dcdbjksn vks  dv
    dvbbbcjdsdbj
    jdsdcjscjkkh 
    ddhccuidscjjkj
    kjncjdsk
</p>

<button type="button" class="btn btn-light" (click)="popUpVisible()">
    Select image
</button>

<p>
    sdhvskhvjksnvjksnjvkhdsjknvjkscjkvn kjscxnvjk bsc kbvb sfbv kscbv kcb kc kcb ckbmvkcsjbv jdsb cjds vjdsbcdcdc
    dcdbjksn vks  dv
    dvbbbcjdsdbj
    jdsdcjscjkkh 
    ddhccuidscjjkj
    kjncjdsk
</p>
<p>
    sdhvskhvjksnvjksnjvkhdsjknvjkscjkvn kjscxnvjk bsc kbvb sfbv kscbv kcb kc kcb ckbmvkcsjbv jdsb cjds vjdsbcdcdc
    dcdbjksn vks  dv
    dvbbbcjdsdbj
    jdsdcjscjkkh 
    ddhccuidscjjkj
    kjncjdsk
</p>
<p>
    sdhvskhvjksnvjksnjvkhdsjknvjkscjkvn kjscxnvjk bsc kbvb sfbv kscbv kcb kc kcb ckbmvkcsjbv jdsb cjds vjdsbcdcdc
    dcdbjksn vks  dv
    dvbbbcjdsdbj
    jdsdcjscjkkh 
    ddhccuidscjjkj
    kjncjdsk
</p>
<p>
    sdhvskhvjksnvjksnjvkhdsjknvjkscjkvn kjscxnvjk bsc kbvb sfbv kscbv kcb kc kcb ckbmvkcsjbv jdsb cjds vjdsbcdcdc
    dcdbjksn vks  dv
    dvbbbcjdsdbj
    jdsdcjscjkkh 
    ddhccuidscjjkj
    kjncjdsk
</p>
<p>
    sdhvskhvjksnvjksnjvkhdsjknvjkscjkvn kjscxnvjk bsc kbvb sfbv kscbv kcb kc kcb ckbmvkcsjbv jdsb cjds vjdsbcdcdc
    dcdbjksn vks  dv
    dvbbbcjdsdbj
    jdsdcjscjkkh 
    ddhccuidscjjkj
    kjncjdsk
</p>
<p>
    sdhvskhvjksnvjksnjvkhdsjknvjkscjkvn kjscxnvjk bsc kbvb sfbv kscbv kcb kc kcb ckbmvkcsjbv jdsb cjds vjdsbcdcdc
    dcdbjksn vks  dv
    dvbbbcjdsdbj
    jdsdcjscjkkh 
    ddhccuidscjjkj
    kjncjdsk
</p>
<p>
    sdhvskhvjksnvjksnjvkhdsjknvjkscjkvn kjscxnvjk bsc kbvb sfbv kscbv kcb kc kcb ckbmvkcsjbv jdsb cjds vjdsbcdcdc
    dcdbjksn vks  dv
    dvbbbcjdsdbj
    jdsdcjscjkkh 
    ddhccuidscjjkj
    kjncjdsk
</p>


<div class="images-container-modal" [ngClass]="{'d-block':toggle,
'd-none':!toggle}">
    <button type="button" class="btn btn-light" 
    style="position: fixed;top:10px;right:10px;" (click)="popUpClose()">
    X
    </button>
    <app-image-selector></app-image-selector>
</div>