*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1f8f600;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -80px;
}
form{
    
    height: 520px;
    width: 400px;
    background-color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: inset 0 0px 6px rgba(0,0,0), 0 4px 6px rgba(0,0,0,0.45);
    padding: 50px 35px;
    overflow: scroll;
    z-index: 10;
    
}





::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

form *{
    font-family: 'Poppins',sans-serif;
    color: #000000;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(26, 24, 24, 0.07);
    border-radius: 25px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    box-shadow:  0px 0px 0px 0px rgba(0,0,0), inset 0px 0px 6px 0px rgba(0,0,0,0.4);
}
::placeholder{
    color: #3e4146;
}
button{
    margin-top: 50px;
    width: 100%;
    background-color: #54eb93;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    /* box-shadow:4em;
    box-shadow: inherit; */
}
button:hover{
    transform: scale(1.01);
}

.social{
  margin-top: 30px;
  display: flex;
  
}
.social div{
    
  /* background: red; */
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  /* background-color: rgba(65, 172, 199, 0.993);
  color: #f0f1f1; */
  text-align: center;
}
.social p{
    color: #1845ad;
}
.social p:hover{
  background-color: rgba(255,255,255,0.47);
  color: #54eba7;
  cursor: pointer;
  transform: scale(1.1);
  
  
}


.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;
  box-shadow: inherit;
}

:host{
    width: 100%;
    height: 100vh;
    position:fixed;
    left: 0;
    top: 0;
    z-index: 30;
    padding: 50px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    cursor: pointer;
    background: none;
    border: none;
  }

  .close-button::before {
    content: '\00D7'; /* Unicode character for 'times' (X) */
  }


  




/* .loader_ {
    position: absolute;
    width: 108px;
    display: flex;
    justify-content: space-between;
  }
  .loader_::after , .loader_::before  {
    content: '';
    display: inline-block;
    width: 48px;
    height: 48px;
    background-color: #FFF;
    background-image:  radial-gradient(circle 14px, #0d161b 100%, transparent 0);
    background-repeat: no-repeat;
    border-radius: 50%;
    animation: eyeMove 10s infinite , blink 10s infinite;
  }
  @keyframes eyeMove {
    0%  , 10% {     background-position: 0px 0px}
    13%  , 40% {     background-position: -15px 0px}
    43%  , 70% {     background-position: 15px 0px}
    73%  , 90% {     background-position: 0px 15px}
    93%  , 100% {     background-position: 0px 0px}
  }
  @keyframes blink {
    0%  , 10% , 12% , 20%, 22%, 40%, 42% , 60%, 62%,  70%, 72% , 90%, 92%, 98% , 100%
    { height: 48px}
    11% , 21% ,41% , 61% , 71% , 91% , 99%
    { height: 18px}
  }  */

  .container.blur {
    filter: blur(5px);
    pointer-events: none; /* Allows clicks to pass through the blurred content */
}