







<div style="height: 34vh;background-image: linear-gradient(rgba(230,174,238,1), transparent);"></div>

<div class="container rounded bg-white mt-3 mb-5">
   
    <ng-container *ngIf="user && address " >
    <form #form="ngForm"  style="box-shadow: 0px 0px 0px 0px rgba(0,0,0), inset 0px 0px 6px 0px rgba(0,0,0,0.4);
    padding: 38px;
    " >
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img width="170" height="170" src="https://img.icons8.com/bubbles/170/user-male-circle.png" alt="user-male-circle"/>
               
                <span class="font-weight-bold" *ngIf="address?.firstName?.length">
                    {{address.firstName}}
                    <img src="https://img.icons8.com/color-glass/26/verified-account--v1.png">
                </span>
                <span class="text-black-50">
                    {{email}}</span>
                </div>
        </div>
        <div class="col-md-8 border-right">
            <div class="p-1 py-1">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col"><label
                         class="labels"
                          for="firstName">First Name</label>
                        <input 
                        type="text"
                         id="firstName"
                        class="form-control" 
                        name="firstName" 
                        [(ngModel)]="address.firstName" 
                        
                        disabled
                        />
                    </div>
                    <div class="col"><label
                        class="labels"
                         for="lastName">Last Name</label>
                       <input 
                       type="text"
                        id="lastName"
                       class="form-control" 
                       name="lastName" 
                       [(ngModel)]="address.lastName" 
                       
                       disabled
                       />
                   </div>

                   <div class="col"><label
                    class="labels"
                     for="lastName">Age</label>
                   <input 
                   type="text"
                    id="lastName"
                   class="form-control" 
                   name="lastName" 
                   [(ngModel)]="address.lastName" 
                  
                   disabled
                   />
               </div>
                    
                </div>

                <div class="row mt-3">
                   
                      
                      <div class="col">
                        <label class="labels"
                        for="age"
                        >Address</label>
                        <input 
                        type="text"
                        id="age"
                        name="age"
                         class="form-control" 
                         [(ngModel)]="address.age"
                         disabled
                         
                         >
                      </div>
                
                    <div class="col"><label class="labels"
                        for="address">
                        Locality</label>
                        <input type="text"
                        id="address"
                         class="form-control"
                          
                          name="address"
                           [(ngModel)]="address.address"
                           disabled
                           ></div>

                    
                   

                </div>

                <div class="row mt-3">

                    <div class="col">
                        <label class="labels" for="state">
                            District</label>
                            <input type="text" 
                            name="state"
                            id="state"
                            class="form-control"
                            
                             [(ngModel)]="address.state"
                             disabled
                             >
                    </div>
                   
                      
                   

                    <div class="col">
                        <label class="labels" for="state">
                            State</label>
                            <input type="text" 
                            name="state"
                            id="state"
                            class="form-control"
                             
                             [(ngModel)]="address.state"
                             disabled
                             >
                    </div>

                    
                    
                </div>
                    
                
                <div class="mt-5 text-center">
                    <button class="btn btn-primary profile-button" 
                    [routerLink]="['/verify']"
                    type="button"
                      >Verify
                    </button>
                </div>
            </div>
        </div>

        

    </div>
</form>
</ng-container>

<hr>


<footer style="margin: 5rem 0;" class="container">
    <p   (click)="toTop()" class="float-end spanc"><span >Back to top</span></p>
    <p>&copy; 2024 &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>


</div>

<div style="background-image: linear-gradient(transparent,rgba(230,174,238,1));">
    
</div>
<!-- </div>
</div> -->



