
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
   

</head>

<body >
   
    <form #form="ngForm" (ngSubmit)="onFormSubmit()" class="row " style="max-height: 90%;height: auto;margin: auto;">
        <h3 class="waviy">Hey there!</h3>

        <label for="username">Username</label>
        <input type="text" class="form-control"  placeholder="Email" id="username" name="username" [(ngModel)]="model.username">

        <label for="password">Password</label>
        <input type="password" class="form-control" placeholder="Password" id="password" name="password" [(ngModel)]="model.password">

        <label for="confirmPassword">Confirm Password*</label>
        <input type="password" class="form-control"  placeholder="Re-enter Password" id="confirmpassword" name="confirmPassword"  [(ngModel)]="mod.confirmPassword">

        <div  >
            <button type="submit">Register</button>
            <button [routerLink]="['/login']">Login</button>
            <!-- <div class="social d-flex justify-content-center">
              <div class="go"><i class="fab "></i>Login</div>
              
            </div> -->
        </div>
       
    </form>
</body>

