
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
   

</head>
<body >

    
    <app-cross-button></app-cross-button>
   
    <form #form="ngForm" (ngSubmit)="onFormSubmit()" class="container row " style="max-height: 90%;height: auto;margin: auto;">

        
       
        <h3 class="waviy">Hey there!</h3>

        <label for="username">Email<span style="color: red;">*</span></label>

        <input 

         type="email" 
         class="form-control" 
         placeholder="Email" id="username" name="username" 
         [(ngModel)]="model.username"
         required
         email
         (ngModelChange)="validateEmail()"
         [ngClass]="{
                
            'valid': !invalidEmail ,
            'invalid': invalidEmail
          }"

         
         >
         <!-- class="errbox" -->
         <div  *ngIf="form.controls['username']!.invalid && (form.controls['username']!.dirty || form.controls['username']!.touched)">
            <div class="field-err" *ngIf="form.controls['username']!.errors?.required">*Email is required.</div>
            <div class="field-err" *ngIf=" !(form.controls['username']!.errors?.required) && invalidEmail  ">*Invalid email format.</div>
        </div>


        <label for="password">Password<span style="color: red;">*</span></label>

        <div class="d-flex justify-content-evenly">

          <input [type]="passwordInputType"
         class="form-control "
             placeholder="Password"
             id="password"
             name="password"
             [(ngModel)]="model.password"
             required
             [ngClass]="{
                
                'valid': !minlengthError && !uppercaseError && !lowercaseError && !digitError && !specialCharError ,
                'invalid': (minlengthError || uppercaseError || lowercaseError || digitError || specialCharError)
              }"
             (ngModelChange)="validatePassword()"
             >

             <div>

              <img
              *ngIf="passwordInputType === 'password'; else temp"
              style="position: absolute;
              transform: translateY(100%);
              cursor: pointer;
              right: 47px;"
              
              (click)="togglePasswordVisibility()" width="20" height="20" src="https://img.icons8.com/ios-glyphs/20/visible--v1.png" alt="visible--v1"/>
  
              <ng-template #temp>
                  <img style="position: absolute;
                      transform: translateY(100%);
                      cursor: pointer;
                      right: 47px;"
                      (click)="togglePasswordVisibility()" 
                      width="20" 
                      height="20"  
                      src="https://img.icons8.com/windows/20/invisible.png" 
                      alt="invisible"/>
              </ng-template>
             </div>
            
        </div>
        

             

        <app-password-strength
       
         *ngIf="showPasswordStrength"
         [passwordToCheck]="model.password" 
         (passwordStrength)="onPasswordStrengthChanged($event)"
         >
        </app-password-strength>


             <div *ngIf="form.controls['password']!.invalid && (form.controls['password']!.dirty || form.controls['password']!.touched)">
                <div  class="field-err " *ngIf="form.controls['password']!.errors?.required">*Password is required.</div>
                <!-- errbox -->
              </div>
              <!-- [ngClass]="{errbox: (minlengthError || uppercaseError || lowercaseError || digitError || specialCharError)}" -->
              <div *ngIf="showPasswordStrength" >
                <div class="field-err" *ngIf="minlengthError">*Password must be at least 8 characters long.</div>
                <div class="field-err" *ngIf="uppercaseError">*Password must contain at least one uppercase letter.</div>
                <div class="field-err" *ngIf="lowercaseError">*Password must contain at least one lowercase letter.</div>
                <div class="field-err" *ngIf="digitError">*Password must contain at least one digit.</div>
                <div class="field-err" *ngIf="specialCharError">*Password must contain at least one special character (#?!@$%^&*-).</div>
              </div>
              

      

        <label for="confirmPassword">Confirm Password<span style="color: red;">*</span></label>

        <div class="d-flex justify-content-evenly" >

          <input
          [type]="confPass"
          class="form-control" 
          placeholder="Re-enter Password" id="confirmpassword" name="confirmPassword" 
          required  
          (input)="onConfirmPasswordInput()"
          [(ngModel)]="mod.confirmPassword"
          [ngClass]="{
                 
             'valid': fieldValidation['confirmPassword'] ,
             'invalid': !fieldValidation['confirmPassword']
           }"
          
           
          >

          <div >

            <img
            *ngIf="confPass==='password'; else temp1"
            style="position: absolute;
            transform: translateY(100%);
            cursor: pointer;
            right: 47px;"
            (click)="toggleConfPasswordVisibility()" width="20" height="20" src="https://img.icons8.com/ios-glyphs/20/visible--v1.png" alt="visible--v1"/>

            <ng-template #temp1 >
              
                <img style="position: absolute;
                    transform: translateY(100%);
                    cursor: pointer;
                    right: 47px;"
                    (click)="toggleConfPasswordVisibility()" 
                    width="20" 
                    height="20"  
                    src="https://img.icons8.com/windows/20/invisible.png" 
                    alt="invisible"/>
            </ng-template>
          </div>
          

        </div>
       
         <div class="field-err" *ngIf="!fieldValidation['confirmPassword']">Passwords do not match.</div>



        <div  >
          <div class="d-flex justify-content-center">
            <button type="submit" [disabled]="clicked">Register</button>
            <span *ngIf="clicked" class="loader" style="z-index: 50;transform: translateY(47%);"></span>
          </div>
            
            <div class="social d-flex justify-content-center">
                <div class="go"><i class="fab "></i><span>Already a user?</span> <p [routerLink]="['/login']">Login</p></div>
                
              </div>
            
        </div>
       
    </form>

    
</body>





 
