
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>

<!-- <button class="close-button" [routerLink]="['/']"></button> -->
<body >

    <app-cross-button ></app-cross-button>
   
   
   
    <form class=" row"   #form="ngForm" (ngSubmit)="onFormSubmit()" style="max-height: 90%;height: auto;margin: auto;overflow-y: scroll; ">
        <!-- <form class=" row"   #form="ngForm" style="max-height: 90%;height: auto;margin: auto;overflow-y: scroll; ">  -->
        <b>Forgot password?</b>
        

        
        <!-- <label for="token">Token<span style="color: red;">*</span></label>
        <input 
        type="text" 
        class="form-control" 
        name="token" 
        placeholder="token" 
        id="token" 
        [(ngModel)]="model.token"
        
        > -->

        <label for="email">Email<span style="color: red;">*</span></label>
        <input 
        type="text" 
        class="form-control" 
        name="email" 
        placeholder="example@gmail.com" 
        id="email" 
      
        required
        
        >

        <!-- <div *ngIf="error_.length>0">

            <p class="alert alert-warning" 
                role="alert" 
                style="font-size:small;
                margin-top: 5px;
                color: #5d0000;
                padding: 8px; 
                box-shadow:0 1px 2px #e5c3c3;">

                {{error_}}
            </p>
        </div> -->
       



        <div class="d-flex justify-content-center ">
            <button style="width: 47%;
            font-size: 15px;
            color: white;
            box-shadow: 0 1px 2px black;" type="submit" >Reset Password</button>
            
        </div>
         
        <div class="social d-flex justify-content-center">
          <div style="width: auto !important;margin-top: -27px;" class="go"><i class="fab "></i>Remember password? <p [routerLink]="['/login']" style="cursor: pointer;">Login</p></div>
          
          
        </div>
    </form>

    <!-- <span  *ngIf="clicked" class="loader" style="z-index: 50;"></span> -->

    <!-- <span class="loader_" style="z-index: 50;"></span> -->
</body>
