<div class="container " style="margin-top: 3px;">
    <!-- margin-top: -42px;
    margin-bottom: auto;
    overflow: scroll;
} -->
    <div class=" custom row" >
        <div class="row ">
            <form  class="col-md-8 col-lg-6 ">
                
       <div class="d-flex justify-content-evenly">

        <div class="form-group col col-lg-6">
            <label class="mt-3" for="firstname">First Name</label>
            <input type="text" placeholder="First Name" id="firsname"  class="form-control ">
        </div>

        <div class="form-group col col-lg-6 ">
            <label class="mt-3" for="lastname">Last Name</label>
            <input type="text" placeholder="Last Name" id="lastname"  class="form-control">
        </div>

       </div>

       <div class="d-flex justify-content-evenly">

        <div class="form-group col-md-4 col-lg-4 ">
            <label class="mt-3" for="address">Address</label>
            <input type="text" placeholder="City/Village/Town" id="address"  class="form-control">
        </div>

        <div class="form-group col-md-4 col-lg-4">
            <label class="mt-3" for="address">Age</label>
            <input type="text" placeholder="Age" id="age"  class="form-control">
        </div>

        <div class="form-group col-md-4 col-lg-4">
            <label class="mt-3" for="phn">Phone</label>
            <input type="text" placeholder="00000 00000" id="phn"  class="form-control">
        </div>

       </div>

       <div class="d-flex justify-content-evenly">

        <div class="form-group col col-lg-6">
            <label class="mt-3" for="locality">Locality</label>
            <input type="text" placeholder="Locality" id="locality"  class="form-control">
        </div>

        <div class="form-group col col-lg-6 ">
            <label class="mt-3" for="district">District</label>
            <input type="text" placeholder="District" id="district"  class="form-control">
        </div>

       </div>
            

       <div class="d-flex justify-content-evenly">

        <div class="form-group col col-lg-4">
            <label class="mt-3" for="state">State</label>
            <input type="text" placeholder="State" id="state" class="form-control">
        </div>

        <div class="form-group col col-lg-4">
            <label class="mt-3" for="adhaarno">UID</label>
            <input type="text" placeholder="0000 0000 0000 " id="adhaarno" class="form-control">
        </div>

        <div class="form-group col col-lg-4">
            <label class="mt-3" for="adhaar">Adhaar</label>
            <input type="file"  id="adhaar" class="form-control">
        </div>
        
       </div>
            
           

           


            
            <br>

            


           
           

    
            <button class="mt-3 cusbtn" >Verify</button>
       
                
                
            </form>
        </div>
    </div>


</div> 

