


<div class="container " style="margin-top: 3px;">

    <!-- <p style="
        top: 15px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        right: 15px;
        background: #d44e4e;
        columns: red;
        border-radius: 19px;
        width: 26px;
        height: 26px;
        justify-content: center;
        cursor: pointer;
        z-index: 20;
        color: white;
        box-shadow: 0 0 4px purple;
        "
    [routerLink]="['/']" >
        x
    </p> -->
    <app-cross-button></app-cross-button>
   
    <div class=" custom row" >
        <div class="row ">
            <form #form="ngForm"  (ngSubmit)="onFormSubmit()" class="col-md-8 col-lg-6 ">
                <!-- <button type="submit" class="mt-3 cusbtn btn "
                style="top: 10px;
                left: 10px;"
                >Verify</button> -->
                
       <div class="d-flex justify-content-evenly">

        <div class="form-group col col-lg-6">
            <label class="mt-3" for="firstname">First Name</label>
            <input type="text"
             placeholder="First Name" 
             id="firstname" 
             name="firstname"
             class="form-control"
             [(ngModel)]="model.firstName"
             required
              >
        </div>

        <div class="form-group col col-lg-6 ">
            <label class="mt-3" for="lastname">Last Name</label>
            <input type="text" placeholder="Last Name" id="lastname"  class="form-control"
            [(ngModel)]="model.lastName"
            name="lastname"
            required
            >
        </div>

       </div>

       <div class="d-flex justify-content-evenly">

        <div class="form-group col-md-4 col-lg-4 ">
            <label class="mt-3" for="address">Address</label>
            <input type="text" placeholder="City/Village/Town" id="address"  class="form-control"
            [(ngModel)]="model.address"
            name="address"
            required
            >
        </div>

        <div class="form-group col-md-4 col-lg-4">
            <label class="mt-3" for="age">Age</label>
            <input type="number" placeholder="Age" id="age"  class="form-control"
            [(ngModel)]="model.age"
            name="age"
            min="0"
            max="120"
            (ngModelChange)="checkAge()"
            required
            >
        </div>

        <div class="form-group col-md-4 col-lg-4">
            <label class="mt-3" for="phn">Phone</label>
            <input type="text" placeholder="00000 00000" id="phn"  class="form-control"
            [(ngModel)]="model.phone"
            name="phn"
            required
            appAppNumbersOnly
            maxlength="10"
            >
        </div>

       </div>

       <div class="d-flex justify-content-evenly">

        <div class="form-group col col-lg-6">
            <label class="mt-3" for="locality">Locality</label>
            <input type="text" placeholder="Locality" id="locality"  class="form-control"
            [(ngModel)]="model.locality"
            name="locality"
            required
            >
        </div>

        <div class="form-group col col-lg-6 ">
            <label class="mt-3" for="district">District</label>
            <input type="text" placeholder="District" id="district"  class="form-control"
            [(ngModel)]="model.district"
            name="district"
            required
            >
        </div>

       </div>
            

       <div class="d-flex justify-content-evenly">

        <div class="form-group col col-lg-4">
            <label class="mt-3" for="state">State</label>
            <input type="text" placeholder="State" id="state" class="form-control"
            [(ngModel)]="model.state"
            name="state"
            required
            >
        </div>

        <div class="form-group col col-lg-4">
            <label class="mt-3" for="uid">UID</label>
            <input type="text" placeholder="0000 0000 0000 " id="uid" class="form-control"
            [(ngModel)]="model.uid"
            name="uid"
            appAppNumbersOnly
            maxlength="14"
            required
            (ngModelChange)="showUID()"
           
            >
            
        </div>

        <div class="form-group col col-lg-4">
            <label class="mt-3" for="adhaar">Adhaar</label>
            <input type="file"  id="adhaar" class="form-control"
            ngModel
            (change)="onFileSelected($event)"
            name="adhaar"
            accept="image/*"
            required
            >
            
        </div>

        <!-- <div class="form-group col col-lg-4">
            <label class="mt-3" for="adhaar">Adhaar</label>
            <input type="file"  id="adhaar" class="form-control"
            [(ngModel)]="model.file"
           
            name="adhaar"
            required
            > 
            
        </div>-->


        <!-- [(ngModel)]="model.file" -->
        
       </div>
            
            <br>
            <div style="display: flex;justify-content:center;">

                <!-- <button [disabled]="isLoading"  class="mt-3 cusbtn  btn" [routerLink]="['/']" > Home </button> -->
                <button [disabled]="form.invalid || isLoading" type="submit" class="mt-3 cusbtn btn" >Verify</button>    

            </div>
            <div *ngIf="isLoading" class="loader">
                <!-- You can use a library like ngx-spinner or create your own loader -->
                Loading...
            </div>
            




            
            </form>
        </div>
    </div>


</div> 

