/* You can add global styles to this file, and also import other style files */
.images-container-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}

.login-container-modal{
    width: 100%;
    height: 100vh;
    position:fixed;
    left: 0;
    top: 0;
    z-index: 30;
    padding: 50px;
    /* background: white; */
    backdrop-filter: blur(5px);
    
 
    background-color: rgba(0, 0, 0, 0.5);
    /* background: linear-gradient(0deg, rgb(0 0 0 / 58%) 0%, rgb(255 255 255 / 0%) 100%); */
}
html, body { height: 100%; }

.body{
    overflow: scroll ;
}


/* ::-webkit-scrollbar {
    width: 0; 
    background: transparent;  
} */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Add your other styles for .form-control here */
.form-control.field-error {
    border: 1px solid red; /* Add your error styles here */
    /* Add any other error styles as needed */
  }
  
  /* Additional styling for the error message */
  .form-control.field-error + p {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    /* Add any other error message styles as needed */
  }
