/* You can add global styles to this file, and also import other style files */
.images-container-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}

.login-container-modal{
    width: 100%;
    height: 100vh;
    position:fixed;
    left: 0;
    top: 0;
    z-index: 30;
    padding: 50px;
    /* background: white; */
    backdrop-filter: blur(5px);
    
 
    background-color: rgba(0, 0, 0, 0.5);
    /* background: linear-gradient(0deg, rgb(0 0 0 / 58%) 0%, rgb(255 255 255 / 0%) 100%); */
}
html, body { height: 100%; }

.body{
    overflow: scroll ;
}




/* ::-webkit-scrollbar {
    width: 0; 
    background: transparent;  
} */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Add your other styles for .form-control here */

  
  /* Additional styling for the error message */
.field-err{
    color: red !important;
    font-size: 12px !important;
    margin-top: 4px !important;
    /* Add any other error message styles as needed */
  }
.modal-popup{
    position: absolute !important;
    width: auto !important;
    padding: 22px !important;
    display: flex !important;;
}
.alert,.alert-success{
    padding: 12px;
  
  }

  .loader {
    position: absolute;
    width: 40px;
    height: 40px;
    transform: translateY(57px);
    /* backdrop-filter: blur(5px) !important;
    background-color: rgba(0, 0, 0, 0.5); */
    /* top: 24%;
    left: 48%; */
}
  .loader:before , .loader:after{
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
  }
  .loader:after {
    box-shadow: 0 2px 0 #FF3D00 inset;
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    0% {  transform: rotate(0)}
    100% { transform: rotate(360deg)}
  }

